<%= render "shared/second-header"%>

<%# ユーザー情報 %>
<div class="user-page">
  <%# サイド情報 %>
  <div class="user-side">
    <p>プロフィール</p>
    <div class="profile_image_size">
      <% if @user.profile_image.present? %>
        <%= image_tag @user.profile_image, size: '100x100' %>
      <% else %>
        <%= image_tag "default_image.png", size: '100x100' %>
      <% end %>
    </div>
    <div class="user-nickname">
      <p>ニックネーム</p>
      <%= @user.nickname %>
    </div>
    <div class="user-good">
      <p>いいね</p>
      <%#= @user. %>
    </div>
    <div class="user-favorite">
      <p>お気に入り</p>
      <%#= @user. %>
    </div>
  </div>
  <%# サイド情報 %>
  <%# メイン情報 %>
  <div class="user-main">
    <div class="user-mypage">
      <p><%= @user.nickname %>さんのマイページ</p>
      <% if current_user.id == @user.id %>
        <p>名前<br><%= @user.last_name %>　<%= @user.first_name %></p>
      <% end %>
      <p>自己紹介</p><%= @user.profile %>
    </div>
    <div>
    <br>
      <% if current_user.id == @user.id %>
        <%= link_to '＜ユーザー情報編集＞', edit_user_path, class: "user-nickname" %>
      <% end %>
    <br>
    </div>
    <div>
      <p>投稿一覧</p>
      <% @posts.each do |post| %>

      <div class="post-screen">
        <div class="post-box">
          <div class="post-contents">
          <h3 class="item-name"><%= link_to post.title, post_path(post.id) %></h3>
            <div class='item-img-content'>
              <% post.images.each do |image| %>
                <%= image_tag(image, height:200, class:"post-image-view") %>
              <% end %>
            </div>
            <div class="post-user">
              <div class="post-user-info">
                <%= link_to image_tag(post.user.profile_image, size:'50x50'), "/users/#{post.user_id}" %>
                <div class="post-user-name">
                  <%= post.user.nickname%>さんの投稿
                </div>
              </div>
              <div class="post-info">
                <%= link_to image_tag("comment.png", size: '25x25', class:"post-icon"), "#" %>　
                <%= link_to "#{post.comments.count} コメント", post_path(post.id) %>
              </div>
            </div>
            <div class="post-camp-info">
              <p>　↓キャンプサイト情報↓</p>
              <li class="list">
              <div class='post-link'>
                <p>　サイト名：<%= post.place %></p>
              </div>
              </li>
              <li class="list">
              <div class='post-link'>
                <p>　リンク：<%= raw Rinku.auto_link(post.link) %></p>
              </div>
              </li>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
<%# ユーザー投稿 %>

</div>

<%= render "shared/second-footer"%>
