<%= render "shared/second-header"%>
新規投稿画面
  <div class="items-sell-main">
    <h2 class="items-sell-title">投稿内容を入力</h2>
    <%= form_with model: @post, local: true do |f| %>

    <%# 投稿画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, multiple: true %>
      </div>
    </div>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        見出し
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"見出し（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          記事の内容
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :article, class:"items-text", id:"item-info", placeholder:"記事の内容（必須 1,000文字まで）例）ふもとっぱらキャンプ場でソロキャンプしてきました！写真が綺麗に撮影できたので投稿します！" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="weight-bold-text">
        場所
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place, class:"items-text", id:"item-name", placeholder:"サイト名（必須 40文字まで)", maxlength:"40" %>
       <div class="weight-bold-text">
        キャンプサイトリンク
      </div>
      <%= f.text_area :link, class:"items-text", id:"item-name", placeholder:"キャンプ場のホームページを張り付けてください", maxlength:"100" %>
    </div>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

    <% end %>
  </div>



<%= render "shared/second-footer"%>