<%= render "shared/second-header"%>

<%# 商品の概要 %>
<%= form_with(model: @post, local: true) do |f| %>
<div class="item-show">
  <div class="item-box-show">
    <div class="item-img-content">
      <% if @post.images.present? %>
        <% @post.images.each do |image| %>
          <%= image_tag(image, width:150, class:"post-image-view") %> <br>
        <% end %>
      <% end %>
    </div>

    <div class="item-name">
      <%= @post.title %>
    </div>

    <div class="item-explain-box">
      <%= @post.article %>
    </div>

    <div class="post-camp-info">
      <p>↓キャンプサイト情報↓</p>
      <li class="list">
        <div class='post-link'>
          <p>サイト名：<%= @post.place %></p>
        </div>
      </li>
      <li class="list">
        <div class='post-link'>
          <p>　リンク：<%= raw Rinku.auto_link(@post.link) %></p>
        </div>
      </li>
    </div>

    <div class="item-price-box">
      <span class="post-price">
        <%= @post.price %>円
      </span>
    </div>

    <%# コメント一覧 %>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>

  </div>



    <div class="sell-btn-contents">
      <% if current_user.id == @post.user_id %>
        <div class="btn-position">
          <%= link_to "投稿内容の編集", edit_post_path, method: :get, class: "item-red-btn" %>
        </div>
        <div class="btn-position">
          <%= link_to "削除", post_path, method: :delete, class:"item-destroy" %>
        </div>
        <div class="btn-position">
          <%= link_to 'もどる', :back , class:"back-btn" %>
        </div>
      <% end %>
    </div>
</div>
<% end %>

<%= render "shared/second-footer"%>